In [ ]:
a=int(input("enter number"))
b=int(input("enter number"))
b=a+b
a=b-a
b=b-a
print("the value after swapping",a)
print("the value after swapping",b)

In [ ]:
x=1
y=2.4
z=1j
a=float(x)
print(a)
b=int(y)
print(b)
c=complex(z)
print(c)
print(type(c))
print(type(a))
print(type(b))

In [ ]:
#creating strings in python
str1='python'
print(str1)
str2="python in double quotes"
print(str2)
str3='''python in triple quotes'''
print(str3)

In [ ]:
print(str1 +'\t$'+str1)

In [ ]:
x='sr university'
y='python training'
print(x[:7])
print(x[:-4])

In [ ]:
#string methods
a='cloudthat tech'
print(a.capitalize())
print(a.find('tech'))

In [ ]:
b="123"
print("is digit :",b.isdigit())
print(len(a))
a.replace('tech',b)

In [ ]:
#boolean operations
x=5
y=2
z=(x>y)
if z:
    print('x is greater than y')
else:
    print('y is greater than x')

In [ ]:
#decision making101
x=5
y=5

if (x>y):
    print('x is greater than y')
elif (x==y):
    print('x is same')
else:
    print('y is greater than x')

In [44]:
print(x)

5

In [45]:
a=int(input("enter number"))
while a<=20:
    print(a)
    if a==10 :
        pass
    a=a+1

enter number1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [46]:
for x in 'poojitha':
    print(x)

p
o
o
j
i
t
h
a

In [50]:
fruit=['cherry','apple','banana']
for i in fruit:
    if i=='apple':
        break
    print(i)

cherry

In [51]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [54]:
adj=['red','green','blue']
fruits=['cherry','apple','banana']
for i in adj:
    for y in fruits:
        print(i,y)

red cherry
red apple
red banana
green cherry
green apple
green banana
blue cherry
blue apple
blue banana

In [60]:
import math
print("power:",math.pow(2,3))
print("power:",math.sqrt(9))

power: 8.0
power: 3.0

In [62]:
print("tan 90",math.tan(math.pi/2))
print("cos 90",math.cos(math.pi/2))

tan 90 1.633123935319537e+16
cos 90 6.123233995736766e-17

In [64]:
x="helloworld"
print(len(x))

10

In [70]:
y="learn python"
print(y[-4:])

thon

In [72]:
print("updation",y[6:12] + "\tlearning")

updation python	learning

In [73]:
print("learn" in y)

True

In [75]:
print(y.upper())

LEARN PYTHON

In [80]:

y="learn python"
print(y.lstrip)

<built-in method lstrip of str object at 0x000001400B55A730>

In [81]:
print("replace",y.replace('e','r'))

replace lrarn python

In [82]:
print(y.split(" "))

['learn', 'python']

In [85]:

str1="my name is sai"
age =45
print(str1.format(age))

my name is sai

In [1]:
newlist=["apple","banana","cherry"]
print(type(newlist))

<class 'list'>

In [2]:
print(newlist[2])

cherry

In [5]:
mullist=[1,2,3,4,5,"apple","banana","cherry",2]
print(type(mullist))

<class 'list'>

In [6]:
#list constructor
listcons=list(("a","b","c"))
print(type(listcons))
print(listcons)

<class 'list'>
['a', 'b', 'c']

In [15]:
newlist=["apple","banana","cherry"]
newlist.insert(3,"litchi")
newlist.append("mango")
#newlist.extend(mullist)
#print(newlist+mullist)

In [16]:
newlist.extend(mullist)
print(newlist)

['apple', 'banana', 'cherry', 'litchi', 'mango', 1, 2, 3, 4, 5, 'apple', 'banana', 'cherry', 2]

In [18]:
newlist.pop()

2

In [19]:
newlist.reverse()

In [24]:
newlist.reverse()
newlist

['cherry', 'banana', 5, 4, 3, 2, 1, 'mango', 'litchi', 'cherry', 'banana']

In [21]:
newlist.remove("apple")

In [22]:
newlist

['banana',
 'cherry',
 'litchi',
 'mango',
 1,
 2,
 3,
 4,
 5,
 'apple',
 'banana',
 'cherry']

In [23]:
newlist.remove("apple")
newlist

['banana', 'cherry', 'litchi', 'mango', 1, 2, 3, 4, 5, 'banana', 'cherry']

In [25]:
newtuple=("sai","poojitha","balya")
newtuple

('sai', 'poojitha', 'balya')

In [26]:
newtuple[1]="praneeth"

TypeError: 'tuple' object does not support item assignment

In [27]:
tup0=()
print(type(tup0))

<class 'tuple'>

In [28]:
tuple1=("apple","banana","cherry",1,3,2,)
tuple1

('apple', 'banana', 'cherry', 1, 3, 2)

In [29]:
#converting tuple to list
list1=list(tuple1)
list1

['apple', 'banana', 'cherry', 1, 3, 2]

In [31]:
tuple1=tuple(list1)
tuple1

('apple', 'banana', 'cherry', 1, 3, 2)

In [32]:
print(tuple1[1:3])

('banana', 'cherry')

In [35]:
#membership
if 3 not in tuple1:
    print("yes there",tuple1)
else:
    print("not there",tuple1)

not there ('apple', 'banana', 'cherry', 1, 3, 2)

In [37]:
tuple1.remove("banana")

AttributeError: 'tuple' object has no attribute 'remove'

In [38]:
list1=list(tuple1)
list1.remove(1)
print(list1)
tuple1=tuple(list1)
tuple1

In [39]:
list1.remove(1)
print(list1)

['apple', 'banana', 'cherry', 3, 2]

In [42]:
tuple1=tuple(list1)
tuple1

('apple', 'banana', 'cherry', 3, 2)

In [44]:
tuple2=(1,2,3,4,5,6,7,6)
print(tuple2.count(6))
print(tuple2.index(6))

2
5

In [45]:
del tuple1

In [47]:
newdict={
    "brand":"ford",
    "model":"mustag",
    "year":"2009",
    "year":"2013"
}
newdict

{'brand': 'ford', 'model': 'mustag', 'year': '2013'}

In [48]:
print(len(newdict))

3

In [57]:
#create dictionary with different data structures
thisdict={
     "brand":"ford",
    "model":"mustag",
    "electric":False,
    "year":"2009",
    "color":['red','blue','black']
    
}
print(thisdict)
print(thisdict.get("color"))
print(thisdict.values())
print(thisdict.keys())
print(thisdict.items())

{'brand': 'ford', 'model': 'mustag', 'electric': False, 'year': '2009', 'color': ['red', 'blue', 'black']}
['red', 'blue', 'black']
dict_values(['ford', 'mustag', False, '2009', ['red', 'blue', 'black']])
dict_keys(['brand', 'model', 'electric', 'year', 'color'])
dict_items([('brand', 'ford'), ('model', 'mustag'), ('electric', False), ('year', '2009'), ('color', ['red', 'blue', 'black'])])

In [52]:
print(type(thisdict))

<class 'dict'>

In [58]:
#adding new key into existing dict
newdict["type"]="non electric"

In [59]:
newdict

{'brand': 'ford', 'model': 'mustag', 'year': '2013', 'type': 'non electric'}

In [60]:
#remove any key in dict
newdict.pop('year')
newdict

{'brand': 'ford', 'model': 'mustag', 'type': 'non electric'}

In [67]:
#nested dictionary
child1={
    "name":"ram",
    "age":25
}
child2={
    "name":"shyam",
    "age":28
}
child3={
    "name":"ridhima",
    "age":21
}
child4={
    "name":"misha",
    "age":22
}
myfamily={
    "key1":child1,
    "key2":child2,
    "key3":child3,
    "key4":child4
}

In [69]:
x=myfamily.copy()
x

{'key1': {'name': 'ram', 'age': 25},
 'key2': {'name': 'shyam', 'age': 28},
 'key3': {'name': 'ridhima', 'age': 21},
 'key4': {'name': 'misha', 'age': 22}}

In [75]:
#creaye a set
set1={"suresh","mahesh","rayma"}
print(set1)
key="sales"
#create a dictionary using the from key method
dict1=dict.fromkeys(set1,key)
dict1

{'rayma', 'suresh', 'mahesh'}

{'rayma': 'sales', 'suresh': 'sales', 'mahesh': 'sales'}

In [77]:
#pop item
newdict.popitem()
print(newdict)

{'brand': 'ford', 'model': 'mustag'}

In [79]:
#create a set
set1={"apple","banana","cherry","mango","kiwi","litchi"}
print(set1)
print(type(set1))

{'cherry', 'apple', 'litchi', 'mango', 'banana', 'kiwi'}
<class 'set'>

In [83]:
#create using set cluster
thisset=set(("abc",1,2,3,True,4.0,"male"))
print(thisset)
print(type(thisset))

{1, 2, 3, 'abc', 4.0, 'male'}
<class 'set'>

In [84]:
print(1 in thisset)

True

In [94]:
set1.add("carrot")
set1
newset=["pineapple"]
set1.update(newset)
set1

{'apple', 'banana', 'carrot', 'cherry', 'kiwi', 'litchi', 'mango', 'pineapple'}

In [96]:
#remove method
set1.discard('pineapple')
set1

{'apple', 'banana', 'carrot', 'cherry', 'kiwi', 'litchi', 'mango'}

In [97]:
x={"apple","banana","cherry"}
y={"mango","kiwi","litchi"}
z=x.symmetric_difference(y)
print("value of x",x)
print("value of y",y)
print("value of z",z)

value of x {'banana', 'cherry', 'apple'}
value of y {'litchi', 'mango', 'kiwi'}
value of z {'cherry', 'litchi', 'banana', 'apple', 'mango', 'kiwi'}

In [98]:
x={"apple","banana","cherry"}
y={"mango","kiwi","litchi"}
z=x.symmetric_difference_update(y)
print("value of x",x)
print("value of y",y)
print("value of z",z)

value of x {'cherry', 'litchi', 'banana', 'apple', 'mango', 'kiwi'}
value of y {'litchi', 'mango', 'kiwi'}
value of z None

In [99]:
x={"apple","banana","cherry"}
y={"mango","kiwi","litchi"}
z=x.isdisjoint(y)
print("value of x",x)
print("value of y",y)
print("value of z",z)

value of x {'banana', 'cherry', 'apple'}
value of y {'litchi', 'mango', 'kiwi'}
value of z True