In [11]:
import pandas as pd

In [13]:
df=pd.read_csv("apy_2.csv")

In [14]:
print(df.dropna())

       Unnamed: 0      State_Name District_Name  Crop_Year       Season  \
0               0       Karnataka         UDUPI       2005  Rabi
1               1  Madhya Pradesh       GWALIOR       2003  Whole Year
2               2  Andhra Pradesh      CHITTOOR       2010  Rabi
3               3  Andhra Pradesh       KRISHNA       2014  Rabi
4               4   Uttar Pradesh     SULTANPUR       2011  Rabi
...           ...             ...           ...        ...          ...
73822       73822   Uttar Pradesh     SULTANPUR       2001  Rabi
73823       73823    Chhattisgarh          DURG       2014  Rabi
73824       73824   Uttar Pradesh    RAE BARELI       2010  Summer
73825       73825           Assam        KAMRUP       1998  Rabi
73826       73826  Andhra Pradesh        GUNTUR       2005  Rabi

                    Crop      Area  Production
0             Horse-gram    1122.0       836.0
1                Brinjal     194.0         0.0
2                Sesamum     334.0       118.0
3                 Tomato     538.0      7289.0
4              Coriander      59.0        33.0
...                  ...       ...         ...
73822  Rapeseed &Mustard    3727.0      3239.0
73823              Wheat    6364.0      7367.0
73824  Moong(Green Gram)     489.0       224.0
73825              Wheat    6431.0      6940.0
73826               Urad  100125.0     78298.0

[72679 rows x 8 columns]

In [15]:
total = df['Production'].sum()
print(total)

32168726739.609997

In [16]:
total = df.loc[df['Season'] == 'Summer     ', 'Production'].sum()
print(total)

51992876.7

In [17]:
df.State_Name.value_counts()

Uttar Pradesh                  10100
Madhya Pradesh                  6889
Karnataka                       6318
Bihar                           5805
Assam                           4306
Tamil Nadu                      4067
Odisha                          4061
Rajasthan                       3867
Maharashtra                     3785
Chhattisgarh                    3151
West Bengal                     2886
Andhra Pradesh                  2817
Gujarat                         2483
Haryana                         1803
Telangana                       1643
Uttarakhand                     1440
Kerala                          1312
Nagaland                        1144
Punjab                           924
Meghalaya                        847
Himachal Pradesh                 787
Arunachal Pradesh                777
Jammu and Kashmir                467
Tripura                          436
Manipur                          398
Jharkhand                        355
Mizoram                          291
Puducherry                       262
Sikkim                           201
Dadra and Nagar Haveli            65
Andaman and Nicobar Islands       60
Goa                               53
Chandigarh                        27
Name: State_Name, dtype: int64

In [18]:
from statistic import stdev
from fractions import Fraction as fr
sample1=df['Production'].sum()
print("standard deviation"%(stdev))

ModuleNotFoundError: No module named 'statistic'

In [19]:
df.Crop.value_counts()

Rice                 4541
Maize                4177
Moong(Green Gram)    3126
Urad                 2970
Sesamum              2737
                     ...
Pear                    2
other fibres            2
Plums                   1
Coffee                  1
Apple                   1
Name: Crop, Length: 122, dtype: int64

In [20]:
total = df.loc[df['State_Name'] == 'West Bengal', 'Production'].sum()
print(total)

532702263.9

In [21]:
x = df.loc[df['State_Name'] == 'West Bengal', '2005'].
print(total)

SyntaxError: invalid syntax (Temp/ipykernel_18292/2142886146.py, line 1)

In [22]:
df.loc[df.'State_Name'=='West Bengal',['Crop_Year','Production']]

SyntaxError: invalid syntax (Temp/ipykernel_18292/2533389214.py, line 1)

In [47]:
x=df[(df.Crop=="Maize")&(df.Crop_Year==2012)].loc[:,['Crop_Year','Production']].sum()
print(x)

Crop_Year      480868.0
Production    4937115.7
dtype: float64

In [41]:
x=df[(df.State_Name=='Haryana')&(df.Crop_Year==1997)].loc[:,['Crop_Year','Production']].sum()
print(x)

Crop_Year       77883.0
Production    3376800.0
dtype: float64

In [25]:
x=df[(df.State_Name=='MUMBAI')].loc[:,'Production'].sum()
print(x)

0.0

In [99]:
total = df['Production'].sum()
print(total)

45168274999.649994

In [100]:
total/72731

621031.9533575778

In [104]:
total.std()

0.0

In [106]:
total = df['Production'].std()
print(total)

17497558.28783218

In [128]:
x=df[(df.State_Name=='Maharashtra')&(df.Crop=='Coconut ')].loc[:,['State_Name','Crop','Production']].sum()
print(x)

State_Name    0.0
Crop          0.0
Production    0.0
dtype: float64

In [54]:
x=df[(df.State_Name=='Goa')].loc[:,['Crop_Year','Production']].sum()
print(x)

Crop_Year        106496.0
Production    142182643.0
dtype: float64

In [50]:
total = df['Area'].mean()
print(total)

11868.485514513666

In [70]:
x=df[(df.Crop=='Rice')&&(df.Season==["Autumn","Summer","Winter"])].loc[:,['State_Name','Crop','Production']].sum()
print(x)

SyntaxError: invalid syntax (Temp/ipykernel_18292/415758039.py, line 1)

In [ ]:
from sklearn.metrics import mean_squared_error  

mean_squared_error(Y_act,Y_pred)

In [79]:
x=df[(df.Crop_Year==2014)].loc[:,['Crop_Year','Area']].min()
print(x)

Crop_Year    2014.00
Area            0.07
dtype: float64

In [84]:
x=df[(df.State_Name=='Haryana')&(df.Crop_Year==2008)].loc[:,['Crop_Year','Production']].sum()
print(x)

Crop_Year      236944.0
Production    9647100.0
dtype: float64